<div class="rating-box">
    <ul class="rating clearfix">
        <li class="current" ng-style="vm.getWidth(video)" style="{{video.ratingStyle}}">
            <span class="star1" title="Click to rate" ng-click="vm.rate(video._id, 1)"></span></li>
        <li><span class="star2 title=Click to rate" ng-click="vm.rate(video._id, 2)"></span></li>
        <li><span class="star3" title="Click to rate" ng-click="vm.rate(video._id, 3)"></span></li>
        <li><span class="star4" title="Click to rate" ng-click="vm.rate(video._id, 4)"></span></li>
        <li><span class="star5" title="Click to rate" ng-click="vm.rate(video._id, 5)"></span></li>
    </ul>
</div>